.card {
  background-color: var(--color-white);
  padding: 1rem .5rem;
  border: 2px solid transparent;
  border-radius: var(--border-radius-1);
  transition: var(--transition);
  cursor: pointer;
}

.card:hover {
  background-color: transparent;
  border-color: var(--color-primary);
  transform: translateY(-0.3rem);
}

.portfolio__project:hover {
  transform: translateY(0);
}

.card:hover span {
  color: var(--color-primary)
}

.card.light {
  background-color: var(--color-light);
}

.card.light:hover {
  background-color: transparent;
  border-color: var(--color-light)
}

@media screen and (max-width: 600px) {
  .card {
    padding: 1.2rem;
  }
}