.theme-buttons button {
  height: 2rem;
  width: 2rem;
  border-radius: 100%;
  border: 1px solid black;
  cursor: pointer;
  transition: var(--transition);
}

.theme-buttons button:hover {
  border: 2px solid rgb(0, 0, 0);
  transition: ease 100ms;
}

.theme-buttons {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
  margin-top: 1rem;
}

.theme-buttons .color-1 {
  background-color: rgba(0, 166, 251);
}

.theme-buttons .color-2 {
  background-color: rgb(0, 222, 89);
}

.theme-buttons .color-3 {
  background-color: rgb(188, 213, 0);
}

.theme-buttons .color-4 {
  background-color: rgb(255, 91, 91);
}

.theme-buttons .color-5 {
  background-color: rgb(251, 155, 0);
}

.theme-buttons .color-6 {
  background-color: rgb(98, 36, 255);
}

.modal-theme-button {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.modal-theme-button .hide {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  opacity: 0;
}