#experience {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.experience__cards {
  display: flex;
  gap: 2rem;
  margin-top: 2rem;
  margin-bottom: 2rem;
  justify-content: center;
}

.experience__card {
  background-color: white;
  border: 2px solid transparent;
  color: white;
  padding: 2rem 0;
  width: 100%;
  max-width: 30rem;
  border-radius: var(--border-radius-1);
  display: flex;
  flex-direction: column;
  align-items: center;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  transition: var(--transition);
}

.experience__card:hover {
  border: 2px solid var(--color-primary);
  background-color: var(--color-light);
  transition: var(--transition);
}

.card__items-wrapper {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 2rem;
}

.experience__card-header {
  color: var(--color-primary);
  margin-bottom: 1rem;
  font-size: 1rem;
}

.card__item {
  gap: 0.5rem;
  position: relative;
}

.white {
  color: white;
}

.muted {
  color: rgb(194, 194, 194);
}

.experience__proficiency {
  font-size: .7rem;
}

.experience__concept {
  font-weight: bold;
}

.checkmark {
  align-self: center;
  font-size: 1.2rem;
  color: var(--color-primary)
}

.primary-color {
  color: var(--color-primary);
}

.black {
  color: black;
}

.learning-card {
  min-width: 8rem;
  max-width: 10rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: var(--color-primary);
  color: white;
  /* box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px; */
}

.experience-card-logo {
  position: absolute;
  display: flex;
  align-self: center;
  left: 0;
  bottom: 0;
  z-index: 3;
  color: var(--color-primary);
  transition: var(--transition);
  opacity: 0;
  font-size: 1rem;
}

.experience__card:hover .experience-card-logo {
  left: 35%;
  transform: translateX(2rem);
  opacity: .1;
  font-size: 3rem;
  transition: var(--transition);
}

.learning-card small {
  color:rgb(165, 165, 165);
}

.learning-card h5 {
  color: white;
}

.learning-card:hover small {
  color: rgb(100, 100, 100);
}

.learning-card:hover h5 {
  color: rgb(100, 100, 100);
}

.learning-card:hover {
  background-color: black;
}

.learning-path-wrapper {
  display: flex;
  gap: 2rem;
  justify-content: center;
}

.learning__item {
  display: flex;
  gap: 0.5rem;
  position: relative;
}

.learning__card {
  background-color: rgb(40, 40, 40);
  border: 2px solid transparent;
  color: white;
  padding: 2rem 0;
  width: 100%;
  max-width: 30rem;
  border-radius: var(--border-radius-1);
  display: flex;
  flex-direction: column;
  align-items: center;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  transition: var(--transition);
}

.learning-card-logo {
  position: absolute;
  display: flex;
  align-self: center;
  left: 0;
  bottom: 0;
  z-index: 3;
  color: var(--color-primary);
  transition: var(--transition);
  opacity: 0;
  font-size: 1rem;
}

.learning__card > p {
 color: rgb(210, 210, 210);
}

.learning__card .experience__concept {
 color: grey;
}

.learning__card .experience__proficiency {
 color: var(--color-light);
}

.learning__card:hover .learning-card-logo {
  left: 35%;
  transform: translateX(2rem);
  color: white;
  opacity: .1;
  font-size: 3rem;
  transition: var(--transition);
}


@media screen and (max-width: 710px) {
  .experience__cards {
    flex-direction: column;
    align-items: center;
    gap: 1rem;
  }
}

@media screen and (max-width: 870px) {
  .experience__cards .checkmark,
  .experience__cards .experience__concept,
  .experience__cards .experience__proficiency {
    font-size: .8rem;
  }

  .learning-path-wrapper .checkmark,
  .learning-path-wrapper .experience__concept,
  .learning-path-wrapper .experience__proficiency {
    font-size: .8rem;
  }
}

@media screen and (max-width: 870px) {
  .card__items-wrapper {
    gap: 1rem;
  }
}

@media screen and (max-width: 710px) {
  .learning-path-wrapper {
    flex-direction: column;
    align-items: center;
    gap: 1rem;
  }
  .card__items-wrapper {
    gap: 2rem;
  }
  .experience__cards .checkmark,
  .experience__cards .experience__concept,
  .experience__cards .experience__proficiency {
    font-size: 1rem;
  }
  .learning-path-wrapper .checkmark,
  .learning-path-wrapper .experience__concept,
  .learning-path-wrapper .experience__proficiency {
    font-size: 1rem;
  }
}

@media screen and (max-width: 430px) {
  .experience__cards .checkmark,
  .experience__cards .experience__concept,
  .experience__cards .experience__proficiency {
    font-size: .8rem;
  }
  .learning-path-wrapper .checkmark,
  .learning-path-wrapper .experience__concept,
  .learning-path-wrapper .experience__proficiency {
    font-size: .8rem;
  }

  .learning__card:hover .learning-card-logo {
  left: 35%;
  transform: translateX(2rem);
  color: white;
  opacity: .1;
  font-size: 2.5rem;
  transition: var(--transition);
  }

  .experience__card:hover .experience-card-logo {
  left: 35%;
  transform: translateX(2rem);
  opacity: .1;
  font-size: 2.5rem;
  transition: var(--transition);
  }
}

@media screen and (max-width: 360px) {
  .card__items-wrapper {
    gap: 1rem;
  }
}

@media screen and (max-width: 320px) {
  .experience__cards .checkmark,
  .experience__cards .experience__concept,
  .experience__cards .experience__proficiency {
    font-size: .7rem;
  }
  .learning-path-wrapper .checkmark,
  .learning-path-wrapper .experience__concept,
  .learning-path-wrapper .experience__proficiency {
    font-size: .7rem;
  }
}