header {
  /* Same height as navbar */
  margin-top: 4rem;
  height: calc(100vh - 4rem);
  display: grid;
  place-items: center;
  /* background-color: var(--color-white); */
  transition: var(--transition);
}

.hello, .name {
  color: var(--color-light);
  margin-bottom: 0.8rem;
}

.name {
  font-weight: 500;
}

.Typewriter__wrapper,
.Typewriter__cursor {
  color: var(--color-primary);
  font-size: 1rem;
}

.header__container {
  display: flex;
  flex-direction: column;
  align-items: center;
  /* relative for socials */
  position: relative;
}

.header__container p {
  width: 35rem;
  text-align: center;
}

.header__cta {
  display: flex;
  align-items: center;
  gap: 2rem;
  margin: 3rem 0rem;
}

.header__profile {
  width: 12rem;
  height: 18rem;
  border-radius: 9rem 9rem 0 0;
  overflow: hidden;
  position: relative;
  margin-bottom: 1.5rem;
}

.header__profile:before {
    content: '';
    position:absolute;
    top:0;
    left: 0;
    right: 0;
    bottom: 0;
    /* background-image: url(../../assets/simple_dashed.png); */
    z-index: 1;
  }

.header__profile img {
  mask-image: linear-gradient(rgba(0, 0, 0, 1) 50%, transparent 100%);
  }

.header__socials a {
  color: var(--color-primary);
  /* background-color: var(--color-bg); */

  aspect-ratio: 1/1;
  height: 3rem;
  width: 3rem;
  font-size: 1.7rem;

  display: grid;
  place-items: center;

  border-radius: 50%;
}

.header__socials a:hover {
  background-color: var(--color-primary);
  color: var(--color-white);
  transform: translateX(-0.3rem);
}

.header__socials {
  position: absolute;
  left: 0;
  bottom: 20%;

  display: flex;
  flex-direction: column;
  gap: 0.2rem;
}

.btn.primary {
  background-color: transparent;
  border: 1px solid var(--color-primary);
  border-color: var(--color-primary);
  color: var(--color-primary);
}

.btn.primary:hover {
  background-color: var(--color-primary-variant);
}

.btn.primary:active {
  background-color: rgba(77, 181, 255, 0.7);
}

.btn.light {
  background-color: var(--color-primary);
  color: var(--color-bg);
}

.btn.light:hover {
  background-color: var(--color-primary-variant);
  color: var(--color-primary);
  border-color: var(--color-primary);
}

.btn.light:active {
  background-color: rgba(77, 181, 255, 0.7);
}
/* MEDIA QUERIES (tablets) */

@media screen and (max-width: 1024px) {
  header {
    margin-top: 0;
    height: 100vh;
  }
  p {
   font-size: .8rem; 
  }
}

@media screen and (max-width: 650px) {
  .header__profile {
    width: 14rem;
    height: 17rem;
    max-width: 60%;
    max-height: 35vh;
  }
  .header__container p {
    width: 100%;
  }
  .header__cta {
    gap: 1rem;
  }
  .header__socials,
  .nav__menu,
  .nav__logo {
    display: none;
  }
  #navbar {
    background-color: transparent;
  }
  .nav__container #theme__icon {
    margin-left: auto;
    color: white;
  }
  .nav__container #theme__icon:hover {
    color: gray;
  }
}

@media screen and (max-width: 445px) {
  .btn.primary,
  .btn.light {
    font-size: .8rem;
  }
}

@media screen and (max-width: 400px) {
  .header__cta a {
    font-size: .8rem;
  }
}