* {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  list-style: none;
  text-decoration: none;
  box-sizing: border-box;
}

:root {
  --primary-hue: 0;
  --black-lightness: 15%;
  --dark-lightness: 44%;
  --light-lightness: 94%;
  --white-lightness: 100%;
  --color-white: hsl(0, 5%, var(--white-lightness));
  --color-light: hsl(var(--primary-hue), 5%, var(--light-lightness));
  --color-black: hsl(var(--primary-hue), 5%, var(--black-lightness));
  --color-dark: hsl(var(--primary-hue), 5%, var(--dark-lightness));
  
  /* New Colors */
  --primary-hue: 0;
  --color-primary: rgba(var(--primary-hue), 166, 251);
  --color-primary-variant: rgba(var(--primary-hue), 166, 251, 0.4);
  --color-primary-variant-active: rgba(var(--primary-hue), 166, 251, 0.7);
  --color-bg: rgba(var(--primary-hue), 130, 202);
  --color-bg-variant: rgba(var(--primary-hue), 53, 84);
  --color-new-bg: rgba(var(--primary-hue), 53, 84);
  --color-white: #ffffff;
  /* TRANSITION VARIABLE */
  --transition: all 300ms ease;

  /* CONTAINER VARIABLES */
  --container-width-lg: 85%;
  --container-width-md: 90%;

  /* BORDER RADIUS VARIABLES */
  --border-radius-1: 1.2rem;
  --border-radius-2: 0.8rem;
  --border-radius-3: 0.5rem;
}

html {
  scroll-behavior: smooth;
  background-image: url(../src/assets/simple_dashed.png);
}

body {
  font-family: 'Poppins', sans-serif;
  background-color:rgb(31,31,56, 0.5);
  line-height: 1.7;
  font-size: 0.9rem;
}

/* GENERAL CONTAINER CLASS */
.container {
  width: var(--container-width-lg);
  margin-inline: auto;
  max-width: 1920px;
}

/* GENERAL SECTION STYLES */
section {
  padding: 8rem 0;
  /* background-color: var(--color-light); */
  background-color: transparent;
  transition: var(--transition);
}

section:nth-child(even) {
  /* background-color: var(--color-white); */
  background-color: transparent;
}

section > h2,
section > p {
  text-align: center;
}

section > p {
  margin: 0.5rem auto 2rem;
  width: 40%;
}

p {
  color:rgb(207, 207, 207);
}

/* GENERAL a-tag STYLES */
a {
  color: var(--color-white);
  transition: var(--transition);
  display: flex;
}

/* GENERAL HEADING STYLES */
h1, h2, h3, h4, h5, h6 {
  line-height: 1.1;
  color: var(--color-black);
}

h1 {
  font-size: 3rem;
}

h2 {
  font-size: 2rem;
}

h3 {
  font-size: 1.6rem;
}

h4 {
  font-size: 1.1rem;
}

h5 {
  font-size: 0.95rem;
}

h6 {
  font-size: 0.8rem;
}

/* GENERAL IMAGES STYLE */
img {
  display: block;
  width: 100%;
  object-fit: cover;
}

/* GENERAL BUTTON STYLES */
.btn {
  display: inline-block;
  width: fit-content;
  display: flex;
  align-items: center;
  gap: 1rem;
  background-color: var(--color-light);
  color: var(--color-black);
  padding: 0.6rem 2.5rem;
  border: 1px solid transparent;
  border-radius: var(--border-radius-3);
  cursor: pointer;
  height: fit-content;
}

.btn:hover {
  background-color: transparent;
  border-color: var(--color-light);
  /* transform: translateY(-0.5rem); */
}

.btn.white {
  background-color: var(--color-white);
}

.btn.white:hover {
  background-color: transparent;
  border-color: var(--color-white);
}

.btn.primary {
  background-color: var(--color-primary);
  /* Always want color to be white */
  color: white;
}

.btn.primary:hover {
  background-color: transparent;
  border-color: var(--color-primary);
  color: var(--color-primary)
}

/* .btn.primary:active {
  background-color: rgb(215, 215, 215);
} */

.btn.sm {
  padding: 0.5rem 1.2rem;
}

.flex {
  display: flex;
}

.about__card:hover small {
  color: var(--color-light)
}

main.color-1 {
  --color-primary: rgba(0, 166, 251);
  --color-primary-variant: rgba(0, 166, 251, 0.4);
  --color-primary-variant-active: rgba(0, 166, 251, 0.7);
  --color-bg: rgba(0, 130, 202);
  --color-bg-variant: rgba(0, 53, 84);
  --color-new-bg: rgba(0, 53, 84);
}
main.color-2 {
  --color-primary: rgb(0, 222, 89);
  --color-primary-variant: rgba(0, 251, 100, 0.4);
  --color-primary-variant-active: rgba(0, 251, 100, 0.7);
  --color-bg: rgb(0, 156, 76);
  --color-bg-variant: rgb(12, 58, 22);
  --color-new-bg: rgb(12, 58, 22);
}
main.color-3 {
  --color-primary: rgb(188, 213, 0);
  --color-primary-variant: rgba(222, 251, 0, 0.4);
  --color-primary-variant-active: rgba(222, 251, 0, 0.7);;
  --color-bg: rgb(153, 161, 47);
  --color-bg-variant: rgb(74, 84, 0);
  --color-new-bg: rgb(74, 84, 0);
}
main.color-4 {
  --color-primary: rgb(255, 91, 91);
  --color-primary-variant: rgba(255, 91, 91, 0.4);
  --color-primary-variant-active: rgba(255, 91, 91, 0.7);;
  --color-bg: rgb(228, 49, 49);
  --color-bg-variant: rgb(56, 10, 0);
  --color-new-bg: rgb(56, 10, 0);
}
main.color-5 {
  /* Orange */
  --color-primary: rgb(251, 155, 0);
  --color-primary-variant: rgba(251, 155, 0, 0.4);
  --color-primary-variant-active: rgba(251, 155, 0, 0.7);
  --color-bg: rgb(202, 128, 0);
  --color-bg-variant: rgb(84, 62, 0);
  --color-new-bg: rgb(84, 62, 0);
}
main.color-6 {
  /* Purple */
  --color-primary: rgb(127, 77, 255);
  --color-primary-variant: rgba(98, 36, 255, 0.4);
  --color-primary-variant-active: rgba(98, 36, 255, 0.7);
  --color-bg: rgb(105, 30, 195);
  --color-bg-variant: rgb(47, 30, 76);
  --color-new-bg: rgb(47, 30, 76);
}

.btn.primary:active {
  background-color: var(--color-primary-variant-active);
}

.btn:active {
  background-color: var(--color-primary-variant-active);
}

/* MEDIA QUERIES (tablets) */
@media screen and (max-width: 1024px) {
  body {
    font-size: 1rem;
  }

  .container {
    width: var(--container-width-md);
  }

  section {
    padding: 8rem 0;
  }

  section > p {
    width: 72%;
    margin-bottom: 3rem;
  }

  h1 {
    font-size: 2rem;
  }
}

/* MEDIA QUERIES (phones) */
@media screen and (max-width: 600px) {
  h1 {
  font-size: 2.4rem;
  }

  h2 {
    font-size: 1.8rem;
  }

  h3 {
    font-size: 1.4rem;
  }

  h4 {
    font-size: 1rem;
  }

  .btn {
    padding: 0.6rem 1.5rem;
  }

  section > p {
    width: var(--container-width-md)
  }

  section {
    padding: 6rem 0;
  }
}